.wrapper {
    width: 300px;
    text-align: center;
    margin-bottom: 15px;
}

.input {
    display: block;
    margin: 10px auto 0 auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}