.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    border-bottom: 2px solid tomato;
    margin-bottom: 20px;
}

.link {
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.activeLink {
    color: tomato;
}
